.main-navbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 30px;
}

.link {
  text-decoration: none;
  color: #45b3c2;
}

.link:hover {
  text-decoration: underline;
}